<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IService">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <!--<endpoint address="http://localhost:5000/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService" contract="Service.IService"
                name="BasicHttpBinding_IService" />-->
            <endpoint address="net.tcp://localhost:8085/Service.svc" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IService" contract="Service.IService"
                name="NetTcpBinding_IService" />
        </client>
    </system.serviceModel>
</configuration>